*{
    margin: 0;
    padding: 0
}

body{
    background-image: url(./images/background.jpg);
    background-size:cover;
}


img {
    height: 200px;
    cursor: grab;
    transition: 0.8s;
    display: inline-block;
    text-align: center;
}